extends layout

block header
  link(rel='stylesheet', href="/uploadfile.css")
  script(src="/jquery.form.js")
  script(src="/jquery.uploadfile.js")
  script(src="/FileSaver.js")
  script(src="/account.js")
  
block content
  h1 File storage demo
  h3 User: #{username}
  form(action="/logout", method="post")
        button(type="submit") Logout
  h2 Files uploaded:

  div
    ul#fileList

  div#fileuploader
