extends layout

block header
  script(src='/register.js')

block content
  h1 COMP 2406 Final Exam Demo
  - if(error)
    div.alert-error #{error}
  p Please log in
  div
    form(action="/login", method="post")
        div.control-group.input-append
            input(type="text", name="username")
            label.add-on(for="username") Username
        div.control-group.input-append
            input(type="password", name="password")
            label.add-on(for="password") Password
        button(type="submit") Login
        button#register(type="button") Register
